{% extends "base.html.twig" %}

{% block title %} BACKOFFICE: MODIFIER UN PRODUIT {% endblock %}

{% block body %}


    <div class="container">
    
        <h1 class="display-4 text-center bg-primary text-white my-5 ">Modifier un produit</h1>

         {{ form_start(formProduit, {'attr' : { 'class' : 'col-md-7 col-lg-5 mx-auto' }})}}

            {{ form_row(formProduit.nom) }}
            {{ form_row(formProduit.description) }}
            {{ form_row(formProduit.prix) }}
            {{ form_row(formProduit.image) }}
            {{ form_row(formProduit.stock) }}

            <button type="submit" class="btn btn-primary">Modifier</button>

        {{ form_end(formProduit) }}    
            

    </div>

{% endblock %}