{% extends "base.html.twig" %} 

{% block title %}GESTIONS DES PRODUITS{% endblock %}

{% block body %}

    <div class="container my-5">

        <h2 class="text-center text-white bg-primary mx-auto my-2">Tous les produits enregistrés en base</h2>

        <div class="row justify-content-center">
            <a href="" class="btn btn-primary col-md-5 mx-auto">Ajouter un produit</a>
        </div>

        <table class="table table-striped table-responsive-sm col-md-7 col-lg-5">
            <thead class=''>
                <tr class='text-center'>
                    {% for col in colonnes %}

                        {% if col != 'id' %}

                        <th>{{col}}</th>

                        {% endif %}

                    {% endfor %}
                        <th>ACTION</th>    
                </tr>
            </thead>
            <tbody>
                {% for produit in produits %}
                <tr class="text-center">
                    <td class="align-middle">{{produit.nom}}</td>
                    <td class="align-middle">{{produit.description}}</td>
                    <td class="align-middle">{{produit.prix}}</td>
                    <td class="align-middle"><img class="img-fluid" src="{{produit.image}}" alt="{{produit.nom}}"></td>
                    <td class="align-middle">{{produit.stock}}</td>
                    <td class="align-middle row gap-1">
                        <a href="" class="btn btn-sm btn-warning">Editer</a>
                        <a href="" class="btn btn-sm btn-danger">Supprimer</a>
                        <a href="" class="btn btn-sm btn-info">Detail</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        

    </div>

 

{% endblock %}